---
import EleventyFetch from "@11ty/eleventy-fetch";

import BaseLayout from "../../layouts/BaseLayout.astro";
import { environment } from "../../environment";

const code: any[] = [];

if (environment.github) {
  let repos = await EleventyFetch(
    `https://api.github.com/users/${environment.github.id}/repos?sort=count&per_page=200`,
    {
      duration: "6h",
      type: "json",
    }
  ).catch(() => {
    throw new Error(
      `Error fetching JSON for GitHub Repos for user: ${environment.github.id}`
    );
  });

  repos = repos
    .filter((r) => !r.archived)
    .sort(
      (a, b) =>
        b.stargazers_count - a.stargazers_count ||
        new Date(b.updated_at).getTime() - new Date(a.updated_at).getTime()
    )
    .slice(0, 24);

  for (const repo of repos) {
    code.push({
      title: repo.name,
      description: repo.description,
      url: repo.html_url,
    });
  }
}
---

<BaseLayout>
  <div class="container-fluid">
    <div class="row justify-content-center">
      {
        code.map(({ title, description, url }) => (
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="mdc-card">
              <div class="mdc-card-wrapper__text-section">
                <h2>{title}</h2>
              </div>

              <div class="mdc-card__content">
                <p>{description}</p>
              </div>

              <div class="mdc-card__actions">
                <a
                  class="mdc-button mdc-card__action mdc-card__action--button"
                  target="_blank"
                  href={url}
                >
                  <span class="mdc-button__ripple" />
                  <span class="mdc-button__label">View</span>
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
