---
import "../styles/global.scss";

import BaseHead from "../components/BaseHead.tsx";
import Footer from "../components/Footer.tsx";
import Navbar from "../components/Navbar.tsx";
import Theme from "../components/Theme.tsx";

const { canonical, description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Theme />
    <BaseHead
      canonical={canonical}
      description={description}
      site={Astro.site}
      title={title}
      url={Astro.url}
    />
    <slot name="head" />
  </head>

  <body style="height: 100%;">
    <Navbar />
    <main class="mdc-top-app-bar--fixed-adjust">
      <div class="container is-fluid">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
